In [1]:
import pandas as pd
import sqlite3

db_path = 'DB/daily_visits.db'
csv_path = 'data/users_web.csv'

In [2]:
# crear db
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [ ]:
# Crear tabla con numero de usuarios por d√≠a
cursor.execute('''
    CREATE TABLE IF NOT EXISTS visit_quant (
        date DATE PRIMARY KEY,
        quant INTEGER
    )
''')
conn.commit()

In [9]:
df_csv = pd.read_csv(csv_path, parse_dates=['Date'])
df_csv.tail(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851 entries, 0 to 850
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    851 non-null    object
 1   Users   851 non-null    int64
dtypes: int64(1), object(1)
memory usage: 13.4+ KB

In [3]:
df_sql = pd.read_sql("SELECT * from visit_quant", conn, parse_dates='Date')
df_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851 entries, 0 to 850
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    336 non-null    datetime64[ns]
 1   Users   851 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 13.4 KB

In [80]:
# borrar duplicados
df_new = pd.merge(df_sql, df_csv, indicator=True, how='outer')
df_new = df_new[df_new['_merge'] == 'right_only'].drop('_merge', axis=1)
df_new.count()

date     30
quant    30
dtype: int64

In [81]:
df_new.to_sql('visit_quant', conn, if_exists='append', index=False)

30

In [82]:
#ver todo
cursor.execute('''
    SELECT COUNT(*) FROM visit_quant
''')
cursor.fetchall()

[(851,)]

In [5]:
#ver tipo de date
cursor.execute('''
    SELECT typeof(Date) FROM visit_quant
    LIMIT 1;
''')
cursor.fetchall()

[('text',)]

In [6]:
#borrar tabla
cursor.execute('''
    drop table visit_quant
''')
cursor.fetchall()

[]

In [83]:
cursor.close()
conn.close()